<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Firebase Hosting</title>

    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.15.0/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.15.0/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.15.0/firebase-database.js"></script>
    <script defer src="/__/firebase/7.15.0/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.15.0/firebase-storage.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style media="screen">
      #main-area{
        margin:50px;
      }
      img{
        max-height:400px;
        max-width:400px;
        width:100%;
      }
      .list-group{
        margin:auto;
      }
      .timeline-Widget{
        margin:auto !important;
      }
      hr{
        width:80%;
      }
    </style>

  <!-- bootstrap-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div id="mofu-cro">
    <div id="main-area"style="text-align: center;">

      <h1 class="h2">Welcome もふの森</h1>
      <div class="main-pic">
        <img src="shimoyake.jpeg" />
      </div>
      <hr>

      <h2 class="h3" style="text-align: center;">レシピ一覧</h2>
      <p><a href="#master-items">あまり</a></p>
      <p><a href="#want-items">覚えてないやつ</a></p>
      <hr>

      <h2 class="h3" style="text-align: center;">くらしの写真</h2>
      <div style="text-align:center;">
      <a class="twitter-timeline" data-height="500" data-width="800" data-theme="dark"
       href="https://twitter.com/moffying?ref_src=twsrc%5Etfw">Tweets by moffying</a>
      </div>
      <hr>
      <p>レシピ一覧はこちらからお借りいたしました。ありがとうございます！</p>
      <p>
        <a href="https://docs.google.com/spreadsheets/d/1V-nrS2NeSM22VNkV7w2Xl2pyrn7Uq0A-YwrYhWVI3Bg/edit#gid=0">
          【DIY所持チェッカー Ver.1.0】
        </a>
      </p>
      <hr>

      <h2 id="master-items" class="h3" style="text-align: center;">あまりレシピ一覧</h2>
      <div>
        <p>絞り込み：<input v-model="vmMasterItems"></p>
      </div>

      <div class="table-responsive" style="max-width: 400px; margin:auto;">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr><th>なまえ</th><th>あまり</th></tr>
          </thead>
          <tr v-for="item in MasterItems"><td>{{ item.name }}</td><td>{{item.doubleNumber}}</td></tr>
        </table>
      </div>

      <hr>

      <h2 id="want-items" class="h3" style="text-align: center;">覚えていないレシピ一覧</h2>
      <div>
        <p>絞り込み：<input v-model="vmWantItems"></p>
      </div>
      <div class="table-responsive" style="max-width: 400px; margin:auto;">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr><th>なまえ</th></tr>
          </thead>
          <tr v-for="item in WantItems"><td>{{ item.name }}</td></tr>
        </table>
      </div>
    </div>
    </div>
  </body>
  <!-- bootstrap-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script type="text/javascript" src="items.js"></script>
  <script>
    // Vueインスタンス作成
    var mofuCro = new Vue({
      el: '#mofu-cro',
      data: {
        hasItems,
        allItems,
        vmMasterItems: '',
        vmWantItems: '',
      },
      computed: {
        MasterItems () {
          if(this.vmMasterItems === ''){
            return this.allItems.filter(allItems => allItems.double === 1)
          }else{
            return this.allItems.filter(allItems => allItems.double === 1 && allItems.name.match(this.vmMasterItems) )
          }
        },
        WantItems () {
          if(this.vmWantItems === ''){
            return this.allItems.filter(allItems => allItems.mastery === 2)
          }else{
            return this.allItems.filter(allItems => allItems.mastery === 2 && allItems.name.match(this.vmWantItems) )
          }
        },
      }
    })
  </script>
</html>
